body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("background1.jpeg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("background2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("background3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

#tooltip {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  padding: 5px;
  position: absolute;
}


#chart1{
  border: 2px solid rgb(96, 122, 143);
  height: 600px;
  width: 100%;
  margin: 20px;
  background: transparent;
}

#section1{
  color: #777;
  background-color:white;
  text-align:center;
  align-content: center;
  padding:50px 80px;
}

.bar {
  fill: steelblue;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
